<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Types of environments : LOCAL, BUILD, DEV, SIT, UAT,PROD, DR -->
    <add key="Environment" value="UAT"/>
    <add key="LOCALMaxEventLogEntryLength" value="30000"/>
    <add key="BUILDMaxEventLogEntryLength" value="30000"/>
    <add key="DEVMaxEventLogEntryLength" value="30000"/>
    <add key="SITMaxEventLogEntryLength" value="30000"/>
    <add key="UATMaxEventLogEntryLength" value="30000"/>
    <add key="PRODMaxEventLogEntryLength" value="30000"/>
    <add key="DRMaxEventLogEntryLength" value="30000"/>
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="EnterpriseTracingSwitch" value="true" />
    </switches>
  </system.diagnostics>
</configuration>