<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgileCoding.Extentions.Exception" version="1.0.0.3" targetFramework="net472" />
  <package id="AgileCoding.Extentions.Linq" version="1.0.0.1" targetFramework="net472" />
  <package id="AgileCoding.Library.Enums" version="1.0.0.1" targetFramework="net472" />
  <package id="AgileCoding.Library.Interfaces" version="1.0.0.1" targetFramework="net472" />
  <package id="AgileCoding.Library.Loggers" version="1.0.0.2" targetFramework="net472" />
</packages>